.question {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1#mainheading{
    color: white;
}

body {
    background-repeat: no-repeat; 
    background-image: url("background.jpg");
    background-size: cover;
}

p.answers{
    color: white;
}

p#answersdisplayed{
    color: white;
}

p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}